# Node modules
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Environment variables
.env

.env.development.local
.env.test.local
.env.production.local

# Build files
dist/
out/
build/

# TypeScript
*.tsbuildinfo

# Logs
logs/
*.log
logs/**/*.log
debug.log
error.log

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
