@import "tailwindcss";

/* Hide scrollbar across all browsers */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}

*{
  scroll-behavior: smooth;
}


@keyframes pulse-once {
  0% {
    box-shadow: 0 0 0 0 rgba(59, 130, 246, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(59, 130, 246, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(59, 130, 246, 0);
  }
}

.animate-pulse-once {
  animation: pulse-once 1.5s ease-in-out;
}

/* this is special font famiely and fornt used for hero section */
.bricolage-grotesque {
  font-family: 'Bricolage Grotesque', sans-serif;
  font-optical-sizing: auto;
  font-weight: 800; /* Choose from 200 to 800 */
  font-style: normal;
  font-variation-settings: "wdth" 100; /* Normal width (default) */
}
